# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.md text
*.txt text
*.json text
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.py text eol=lf
*.sql text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.lock text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
